* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    font-size: 62.5%;

    --main-color: #065E7C;
    --secundary-color: #387E96;
    --title-color: #202024;
    --text-color: #121214;
    --white-color: #ffffff;
}

body {
    font-size: 1.6rem;
    background-color: var(--main-color);
}

html, body {
    font-family: "Mulish", sans-serif;
}

.container {
    padding: 1.6rem 3.2rem;
    width: min(112rem, 100%);
    margin: 0 auto;
}

/* Header */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 7.2rem;

    margin: 0;
    padding: 0;
    background-color: var(--main-color);
}

header img {
    width: 42px;
    height: 42px;
    object-fit: cover;
}

header form {
    flex: 1;
}

header form input {
    width: 100%;
    padding: 1.2rem;

    background-color: var(--secundary-color);
    border: none;
    border-radius: 4px;

    color: var(--white-color);
}

header form .input-wrapper {
    width: 100%;
}

header .avatar {
    border-radius: 50%;
}

/* Main */

main {
    background-color: var(--white-color);

    width: 100%;
    margin: 0 auto;
    text-align: center;
}

main img {
    width: 100%;
    display: block;
}

main .description {
    padding: 1.6rem 3.2rem;
}

main .description p {
    margin: 0 auto 3.4rem;

    text-align: left;
}

.main-title {
    width: 100%;
    display: inline-block;

    margin: 3.2rem 0;
}

.main-title h1 {
    text-align: left;
    margin-bottom: 1.6rem;
}

.main-title .buttons{
    width: 100%;
    display: flex;
    gap: 1.2rem;
}

.main-title .buttons img {
    width: 4.2rem;
    height: 4.2rem;
}

section h1 {
    font-size: 2.4rem;
    font-weight: bold;
}

section.article {
    padding: 1.6rem 3.2rem;
    text-align: left;
}

.article h1 {
    margin-bottom: 3.2rem;
}

.item {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.6rem;

    align-items: center;

    margin-bottom: 3.2rem;
}

.item img {
    max-width: 100%;
    min-width: 16rem;
    aspect-ratio: 16/9;
    object-fit: cover;

    margin: auto;
}

.item-text h3 {
    font-size: 1.8rem;
    margin-bottom: 1.6rem;
}

/* Footer */

footer{
    color: var(--white-color);

    padding: 1.6rem;
    text-align: center;

    background-color: var(--secundary-color);
}

/* Responsive */

@media (max-width: 425px) {

    section.article {
        text-align: center;
    }

    .item {
        display: block;
    }

    .item img {
        margin-bottom: 1.6rem;
    }
}

@media (min-width: 1200px) {
    main {
        display: grid;
        grid-template-columns: 2fr 1fr;
        
        padding-top: 4.4rem;
        padding-right: 10rem;
    }

    .main-title {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    .main-title .buttons {
        justify-content: end;
        position: relative;
        top: -1.2rem;
    }
}